---

---

<section id="aboutMe" class="flex flex-col items-center justify-center">
   <div class="flex flex-col lg:flex-row items-center justify-center w-[50%] pt-20">
      <div class="  ">
         <p class="text-2xl font-bold">Acerca de Mí</p>
         <p class="w-[80%] text-md">
            Me llamo Marco Antonio. Empece en la programacion a los 18 años y
            desde entonces he estado aprendiendo cada vez mas acerca de este
            fascinante mundo. Actualmente curso la ingenieria en sistemas
            computacionales en la Escuela Superior de Computo del Instituto
            Politecnico Nacional y me estoy especializando como desarrollador
            fullstack. <br />
            <br />

            Algunos de mis proyectos han sido relacionados con el desarrollo web
            y aplicaciones moviles, donde he podido aplicar mis conocimientos en
            tecnologias como JavaScript, React, Node.js y bases de datos SQL y
            NoSQL. Tambien he trabajado con tecnologias enfocadas al hardware
            tales como arduinos, lo que me ha permitido tener una vision mas
            amplia de la programacion y sus aplicaciones practicas.
         </p>
      </div>
      <img src="https://picsum.photos/380/280" alt="" class="transform rotate-3 rounded-2xl" />
   </div>
</section>
