<section id="experience" class="flex flex-col items-center w-full space-y-10">
    <div
        class="flex flex-col lg:w-[50%] lg:flex-row md:flex-col sm:flex-col items-center  gap-10"
    >
        <p class="text-3xl font-bold justify-items-start items-start">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-7"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"
                ></path>
            </svg> 
               Experiencia Laboral
        </p>
    </div>
    <div
        class="flex flex-col lg:w-[50%] lg:flex-row md:flex-col sm:flex-col items-center gap-10"
    >
        <div class="w-[30%] flex flex-col space-y-1 items-start">
            <p class="text-2xl font-bold text-amber-300">Tester Jr</p>
            <p class="text-xl italic">Qualita</p>
            <p class="text-lg italic">Junio 2022 - Febrero 2023</p>
        </div>
        <div class="w-[70%] h-full">
            <p>
                Participe en la creacion de matrices de prueba para aplicaciones
                web asegurando la calidad de los productos entregados. Colabore
                con el equipo de desarrollo para identificar y resolver errores,
                mejorando la experiencia del usuario final, reguistrando los
                bugs encontrados en Azure y realizando pruebas de regresion
                despues de cada sprint.
            </p>
        </div>
    </div>
    <div
        class="flex flex-col lg:w-[50%] lg:flex-row md:flex-col sm:flex-col items-center gap-10"
    >
        <div class="w-[30%] flex flex-col space-y-1 items-start">
            <p class="text-2xl font-bold text-amber-300">Docente</p>
            <p class="text-xl italic">Centro Académico Vanguardia</p>
            <p class="text-lg italic">Agosto 2019 - Actualidad</p>
        </div>
        <div class="w-[70%] h-full">
            <p>
                Imparto clases en diversas areas de ciencias y tecnologia, tales
                como matematicas, fisica, programacion y desarrollo web.
                Desarrollo planes de estudio personalizados para estudiantes de
                diferentes niveles educativos, fomentando un ambiente de
                aprendizaje.
            </p>
        </div>
    </div>
</section>
